<html>
    <head>
        <title>Pat's About Page</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
        <audio controls><source src = "sonic.mp3" type="audio/mpeg"></audio>
    </head>
    <body id="loading">
        <h1 id="rolling">
            <marquee> Escape From The City </marquee>
        </h1>
        <p id = "break"><i>
            Whoo!<br/>
            Oh yeah!<br/>
            <br/>
            Rollin' around at the speed of sound<br/>
            Got places to go, gotta follow my rainbow<br/>
            Can't stick around, have to keep movin' on<br/>
            Guess what lies ahead, only one way to find out!<br/>
            <br/>
            Must keep on movin' ahead<br/>
            No time for guessin', follow my plan instead<br/>
            Trustin' in what you can't see<br/>
            Take my lead, I'll set you free<br/>
            <br/>
            Follow me, set me free<br/>
            Trust me and we will escape from the city<br/>
            I'll make it through, follow me<br/>
            <br/>
            Follow me, set me free<br/>
            Trust me and we will escape from the city<br/>
            I'll make it through; prove it to you<br/>
            <br/>
            Follow me!<br/>
            Oh yeah!<br/>
            <br/>
            Danger is lurking around every turn<br/>
            Trust your feelings, got to live and learn<br/>
            I know with some luck that I'll make it through<br/>
            Got no more other options, only one thing to do!<br/>
            <br/>
            I don't care what lies ahead<br/>
            No time for guessin', follow my plan instead<br/>
            Find that next stage, no matter what that may be<br/>
            Take my lead, I'll set you free<br/>
            <br/>
            Follow me, set me free<br/>
            Trust me and we will escape from the city<br/>
            I'll make it through, follow me<br/>
            <br/>
            Follow me, set me free<br/>
            Trust me and we will escape from the city<br/>
            I'll make it through; prove it to you<br/>
            <br/>
            Follow me!<br/>
            Follow me!<br/>
            <br/>
            I'll make it through<br/>
            Oh yeah!
        </i></p>
    </body>
</html>